body {
    background-color: #b7ccf7;
}

.firstrow{
    display: flex;
    flex-direction: row;
    height: 6em;
    padding-bottom: 2px;
}

.form1 {
    display: flex;
    flex-direction: row;
    padding-top: 6px;
    padding-right: 20px;
}

button, input, select{
    font-size: 18px;
    border-radius: 9px;
    margin-right: 10px;
}


button {
    background-color: #66b3ff;

}

.topnav {
  padding-top: 3px;
    background-color: #6c97f3;
    height: 3.5em;
    text-align: center;
  }

  .topnav a {
    float: left;
    display: block;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
  }

nav ul li {
    margin-top: -10px;
    display: inline-block;
    padding: 9px;
    border-style: ridge;
    margin-right: 35px;
    background-color: rgb(42, 58, 133);
}

nav ul li :hover {
    background-color: #17366b;
    height: 30px;

}


  h1{
      font-size: 36px;
      font-family: 'Times New Roman', Times, serif;
  }

  h2{
      font-size: 23px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      padding-left: 35px;
  }


p{
    background-color: white;;

    padding: 5px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainone{
    display: flex;
    flex-direction: row;
}

.para{
  background-color: #e6eeff;
}

.hidden {
    display: none;
  }


th {
    font-size: 23px;
}

td{
    font-size: 18px;
}

td,
th {
  text-align: left;
  padding: 8px;
  padding-left: 25px;
}

tr:hover {
    background-color: #d1b3ff;
}


  .group_label_input > :first-child {
    font-size: 20px;
    margin-right: 15px;
    margin-left: 40px;
  }

  .group_label_input {
    display: flex;
    flex-direction: row;

    padding: 12px;
  }

  .bigbox {
    width: 95%;
}

.gallery{
  align-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image_gallery{
  margin-left: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.box{
  background-color:#809fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.large_box{
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-left: 30px;
  background-color: #809fff;
}

.top_stuff{
  height: 70%;
  background-color: #ccb3ff;
  display: flex;
  flex-direction: row;
}

.right_stuff{
  background-color: #e6eeff;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top_bar{
  display: flex;
  flex-direction: row;
}

.next_pokemon{
  position: absolute;
  right: 5px;
  padding-right: 25px;
}

.home_page{
  text-align: center;
}

.types{
  width: 92%;
  padding-left: 20px;
  padding-right: 20px;
}

.one_side{
  width: 78%;
  padding-left: 15px;
}

.errors {
  font-size: 18px;
  color: red;
}

.stuff{
margin-top: 50px;
align-content: center;
position: absolute;
justify-content: center;
text-align: center;
}

.weak{
  width: 68%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer{

    background-color: rgb(42, 58, 133);
    color: white;
    height: 10em;
}
